.container{
    border : 1px solid black;
    width: 30%;
    margin: auto;
    padding: 2%;

    &_options{
        display: inline-block;
        width: 100%;
    }

    &_button{

        &driver{
            float: left;
            background-color: black;
            width: 50%;
            color: white;

        }
        &user{
            float: right;
            background-color: black;
            width: 50%;
            color: white;

        }
    }
}

.input {
    color: black;
    font-size: 20px;
    font-family: Arial;

    &_check{
        font-size: 15px;
    }
    
}

